name: Build and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Build project
      run: mvn clean package

    - name: Run SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v5.0.0
      with:
        args: >
          -Dsonar.projectKey=softwerprojectRN_projectSoftwer_RN
          -Dsonar.organization=softwerprojectrn
          -Dsonar.java.binaries=target/classes,target/test-classes
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
